



code {
    background: gray;
    color: black;
    display: block;
}

}

header {

    position: center;
    margin: auto;
}


section{
    position: absolute;
    right: 600px;
    display: inline-block;

}

